<html>
<head>
	
</head>
<body>
<div style="background-color:#ce0e7e; color:#e20b16; text-align:center; height:150px; font-size:50px; line-height:150px;"><p>BookCollection</p></div>

	<center>

	
	<h1 style="margin:10px;"> Book Details</h1>
	<table border="1" width="800" align="center">
		<tr >			
			<th >title </th>
			<th>Author</th>
			<th >Isbn</th>
			<th >Download Link</th>			

		</tr >
		{% for book in books %}
		    <tr align="center">		    
			<td>{{book.title}} </td>
			<td> {{book.author}} </td>
			<td> {{book.isbn}} </td>
			<td>  <a href='{{book.url}}'>Download</a> </td>
       	</tr>

		{% endfor %}

	</table>

</center>
<footer style="background-color:#2d2b2b; color:#281616; text-align:center; height:300px; font-size:100px; line-height:150px"><p>footer</p></footer>
</body>
</html>